* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box
}

html {
	font-size: 62.5%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow: auto
}

@-ms-viewport {
	width: device-width
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
section {
	display: block
}

p,
ul,
ol,
li,
dl,
dt,
dd,
p,
caption,
th,
td,
form,
input,
textarea,
blockquote,
address,
embed,
object,
figure,
em {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-size: 100%;
	font-weight: normal
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
	margin: 0;
	padding: 0
}

body {
	position: relative;
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
	font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-size: 1.4em;
	font-weight: normal;
	line-height: 1;
	color: #000;
	text-align: left;
	text-rendering: optimizeLegibility
}

[tabindex="-1"]:focus {
	outline: 0 !important
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0
}

dd {
	margin-left: 0
}

blockquote {
	margin: 0 0 1rem
}

figure {
	line-height: 0
}

dfn {
	font-style: italic
}

b,
strong {
	font-weight: bolder
}

small {
	font-size: 80%
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}

sub {
	bottom: -0.25em
}

sup {
	top: -0.5em
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none
}

a:not([href]):not([tabindex]):focus {
	outline: 0
}

pre,
code,
kbd,
samp {
	font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-size: 1em
}

pre {
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	-ms-overflow-style: scrollbar
}

img {
	vertical-align: middle;
	border: none
}

svg:not(:root) {
	overflow: hidden
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

th {
	text-align: inherit
}

label {
	display: inline-block
}

button {
	border-radius: 0
}

button:focus {
	outline: 0
}

input,
button,
select,
optgroup,
textarea {
	vertical-align: middle;
	position: relative;
	outline: none;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	padding: 0;
	border-style: none
}

input[type=radio],
input[type=checkbox] {
	box-sizing: border-box;
	padding: 0
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
	-webkit-appearance: listbox
}

textarea {
	overflow: auto;
	resize: vertical
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	outline-offset: -2px;
	-webkit-appearance: none
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button
}

output {
	display: inline-block
}

#loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #0e81d3;
	transition: all 1s;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999
}

#loading.loaded {
	opacity: 0;
	visibility: hidden
}

.loader006 {
	color: #fff;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 72px auto;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	animation: load6 1.7s infinite ease, round 1.7s infinite ease
}

@-webkit-keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
	}

	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
	}

	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em
	}

	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em
	}

	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em
	}

	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
	}
}

@keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
	}

	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
	}

	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em
	}

	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em
	}

	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em
	}

	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
	}
}

@-webkit-keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

html {
	scroll-behavior: smooth
}

ol,
ul {
	list-style-type: none
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
	font-style: normal;
	font-size: 100%;
	font-weight: 700
}

:focus {
	outline: none
}

a {
	outline: none
}

body {
	color: #000;
	height: 100%;
	font-feature-settings: "palt";
	overflow: hidden;
	position: relative
}

body::before {
	background: url(../common/images/site_bg.png) no-repeat center;
	background-size: cover;
	background-position: top 0 left 0;
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100vh
}

body.under-page::before {
	background: url(../common/images/site_bg_under.png) no-repeat center;
	background-size: cover;
	background-position: top 0 left 0
}

div.pageWrap {
	position: relative;
	width: 100%;
	text-align: left
}

.container {
	position: relative;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 100%
}

.content {
	width: calc(100% - 20px);
	max-width: 1000px;
	margin: 0 auto
}

.content1100 {
	max-width: 1100px
}

.ofi-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	font-family: "object-fit:cover;object-position:center center;"
}

.viewmore-btn {
	position: relative;
    display: block;
    margin: 0 auto;
    background-color: #0e81d3;
    border-radius: 37.5px;
    border: 1px solid transparent;
    transition: all .4s;
    box-shadow: 4px 4px 10px #9c9c9dc2;
    overflow: hidden;
    width: 295px;
    height: 60px;
    z-index: 9999;
}

.viewmore-btn a,
.viewmore-btn p {
	width: 100%;
	height: 100%;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto;
	font-size: 2.2rem;
	color: #fff;
	font-weight: 900;
	z-index: 3;
	transition: all .4s
}

.viewmore-btn.white {
	background-color: #fff;
	transition: all .4s
}

.viewmore-btn.white a,
.viewmore-btn.white p {
	color: #0e81d3
}

.breadcrumbs-wrapper {
	background-color: #fff;
	padding: 15px 0 55px
}

.breadcrumbs-wrapper .breadcrumbs {
	max-width: 1000px;
	width: calc(100% - 20px);
	margin: 0 auto;
	font-size: 1.2rem
}

.under-img-wrapper {
	position: relative;
	width: 100%;
	height: 430px;
	background: url(../common/images/under_bg.jpg) no-repeat top center/cover
}

.under-img-wrapper .under-other-title {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	text-align: center;
	width: 95%
}

.under-img-wrapper .under-other-title h1 {
	font-weight: 900;
	font-size: 5.6rem;
	color: #0e81d3
}

.common-service {
	position: relative;
	background-color: #fff;
	padding: 100px 0 70px
}

.common-service .common-service-wrapper ul li:nth-child(even) a figure {
	order: 1
}

.common-service .common-service-wrapper ul li figure {
	width: 580px;
	height: 580px;
	border-radius: 50%;
	border: 20px solid #eaf5fc;
	overflow: hidden
}

.common-service .common-service-wrapper ul li figure img {
	transition: all .4s
}

.common-service .common-service-wrapper ul li .contents h4 {
	margin-bottom: 35px;
	font-size: 2.6rem;
	font-weight: 900;
	line-height: 1.38;
	text-align: center
}

.common-service .common-service-wrapper ul li .contents>p {
	margin-bottom: 45px;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.875
}

.common-service .common-service-wrapper ul li .contents>p .fig {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 35px auto;
	padding: 20px;
	background-color: #eefeff;
	font-size: 2.4rem;
	font-weight: 500;
	color: #0e81d3
}

.common-service .common-service-wrapper ul li .contents>p .fig::before {
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	-webkit-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
	top: 50%;
	left: 30px;
	background: url(../service/images/service_icon.png) no-repeat top center/contain
}

.common-service .common-service-wrapper ul li:nth-child(2) figure {
	border: 20px solid #eefeff
}

.common-service .common-service-wrapper ul li:nth-child(2) .ofi-img {
	object-position: 80% center
}

.common-service .common-service-wrapper ul li:last-child figure {
	border: 20px solid #eafcf7
}

.common-service .move-text {
	bottom: 0px
}

.common-contact {
	position: relative;
	margin-bottom: 100px
}

.common-contact .common-contact-wrapper {
	position: relative;
	padding: 165px 0
}

.common-contact .common-contact-wrapper .common-title {
	margin-bottom: 30px
}

.common-contact .common-contact-wrapper .common-title h2 {
	font-size: 3.598rem;
	text-align: center;
	font-weight: 900;
	color: #000
}

.common-contact .common-contact-wrapper p {
	margin-bottom: 50px;
	font-size: 1.6rem;
	font-weight: 500;
	text-align: center
}

header {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	height: 100px;
	margin: 0 20px
}

header .header-wrapper {
	width: 100%;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

header .header-wrapper span.logo {
	width: 240px;
	margin-right: 20px
}

header .header-wrapper span.logo a {
	display: block;
	height: 100%
}

header .header-wrapper span.logo a img {
	width: 100%;
	height: auto
}

header .header-wrapper .globalmenu {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative
}

header .header-wrapper .globalmenu ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%
}

header .header-wrapper .globalmenu ul li {
	position: relative
}

header .header-wrapper .globalmenu ul li:not(:last-of-type) {
	padding: 10px 30px
}

header .header-wrapper .globalmenu ul li:not(:last-of-type) a {
	position: relative;
	display: block;
	padding: 10px 0;
	font-size: 2rem;
	font-weight: 900;
	transition: all .4s
}

header .header-wrapper .globalmenu ul li:not(:last-of-type) a::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0px;
	height: 1px;
	background: #000;
	transition: all .4s
}

header .header-wrapper .globalmenu ul li:first-of-type {
	padding-left: 0
}

header .header-wrapper .globalmenu ul li.contact-area .contact-btn {
	position: relative;
	display: block;
	width: 210px;
	height: 72px;
	margin: 0 auto;
	background-color: #0e81d3;
	border: 1px solid transparent;
	border-radius: 36px;
	transition: all .4s;
	box-shadow: 4px 4px #03538d;
	overflow: hidden
}

header .header-wrapper .globalmenu ul li.contact-area .contact-btn a {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding-left: 15px;
	color: #fff;
	font-size: 2rem;
	font-weight: 900;
	z-index: 3
}

header .header-wrapper .globalmenu ul li.contact-area .contact-btn a::before,
header .header-wrapper .globalmenu ul li.contact-area .contact-btn a::after {
	content: "";
	display: block;
	width: 29px;
	height: 27px;
	position: absolute;
	-webkit-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
	top: 50%;
	left: 20px;
	transition: .5s ease;
	z-index: 3
}

header .header-wrapper .globalmenu ul li.contact-area .contact-btn a::before {
	background: url(../common/images/mail_white.svg) no-repeat top center/contain
}

header .header-wrapper .globalmenu ul li.contact-area .contact-btn a::after {
	background: url(../common/images/mail_navy.svg) no-repeat top center/contain;
	opacity: 0
}

header .header-wrapper .header-right {
	display: none
}

footer {
	width: 100%;
	padding: 90px 0 0
}

footer .footer-wrapper {
	margin-bottom: 80px
}

footer .footer-wrapper .foot-logo-wrapper {
	width: 263px
}

footer .footer-wrapper .foot-logo-wrapper a {
	display: block;
	height: 100%
}

footer .footer-wrapper .foot-logo-wrapper a img {
	margin-bottom: 5px;
	width: 100%;
	height: auto
}

footer .footer-wrapper .foot-logo-wrapper a p {
	font-size: 1.4rem;
	letter-spacing: .1rem;
	text-align: center
}

footer .footer-wrapper .footer-nav ul li {
	position: relative;
	padding: 0 20px
}

footer .footer-wrapper .footer-nav ul li a {
	position: relative;
	display: block;
	padding: 10px;
	font-size: 2rem;
	font-weight: 900
}

footer .footer-wrapper .footer-nav ul li a::before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background: #000;
	transition: .3s
}

footer .footer-wrapper .footer-nav ul li:first-of-type {
	padding-left: 0
}

footer .footer-wrapper .footer-nav ul li:last-of-type {
	padding-right: 0
}

footer .footer-wrapper .sns-area {
	width: 100%;
	margin-top: 80px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

footer .footer-wrapper .sns-area li a {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 30px
}

footer .footer-wrapper .sns-area li a img {
	width: 100%;
	height: auto
}

footer .copy {
	width: 100%;
	padding: 40px 0;
	color: #676767;
	background-color: #fff;
	font-size: 1rem;
	letter-spacing: .3em;
	text-align: center;
	line-height: 1.4
}

.hamburger-overlay {
	display: none;
	position: fixed;
	overflow-y: scroll;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 900
}

.hamburger-overlay .globalmenu {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	margin: 0 auto;
	z-index: 1000
}

.hamburger-overlay .globalmenu ul {
	-webkit-flex-direction: column;
	flex-direction: column;
	max-width: 300px;
	width: 95%;
	margin: 0 auto
}

.hamburger-overlay .globalmenu ul li a {
	padding: 35px 0;
	display: block;
	font-size: 2rem;
	font-weight: 900;
	color: #0e81d3;
	text-align: center
}

.hamburger-overlay .globalmenu ul li.contact-area {
	display: none
}

.sp-block {
	display: none
}

.tab-block {
	display: none
}

.pcsmall-block {
	display: none
}

.spsmall-block {
	display: none
}

@media screen and (min-width: 1000px)and (max-width: 1100px) {
	.common-service .common-service-wrapper ul li figure {
		width: 500px;
		height: 500px
	}

	.common-service .common-service-wrapper ul li .contents {
		width: calc(100% - 475px)
	}

	.common-service .move-text {
		bottom: 0px
	}

	header .header-wrapper .globalmenu ul li:not(:last-of-type) a {
		font-size: 1.7rem
	}

	header .header-wrapper .globalmenu ul li.contact-area .contact-btn {
		width: 170px;
		height: 50px;
		border-radius: 30px;
		box-shadow: 2px 2px #03538d
	}

	header .header-wrapper .globalmenu ul li.contact-area .contact-btn a {
		padding-left: 15px;
		font-size: 1.7rem
	}

	header .header-wrapper .globalmenu ul li.contact-area .contact-btn a::before,
	header .header-wrapper .globalmenu ul li.contact-area .contact-btn a::after {
		width: 23px;
		height: 21px;
		left: 20px
	}

	footer .footer-wrapper .foot-logo-wrapper {
		width: 230px
	}

	footer .footer-wrapper .foot-logo-wrapper a p {
		font-size: 1.2rem
	}

	footer .footer-wrapper .footer-nav ul li {
		position: relative;
		padding: 0 10px
	}

	footer .footer-wrapper .footer-nav ul li a {
		font-size: 1.8rem
	}
}

@media screen and (min-width: 1000px) {
	div.pageWrap {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		align-items: center;
		width: 100%;
		min-height: 100vh;
		height: 100%
	}

	.viewmore-btn::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		background: #fff;
		width: 100%;
		height: 100%;
		transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
		transform: scale(0, 1);
		transform-origin: left top
	}

	.viewmore-btn.white::before {
		background: #0e81d3
	}

	.viewmore-btn.white:hover a,
	.viewmore-btn.white:hover p {
		color: #fff
	}

	.viewmore-btn:hover::before {
		transform-origin: right top;
		transform: scale(1, 1)
	}

	.viewmore-btn:hover a,
	.viewmore-btn:hover p {
		color: #0e81d3
	}

	.common-service .common-service-wrapper ul li:nth-child(even) figure {
		order: 1
	}

	.common-service .common-service-wrapper ul li .contents {
		width: calc(100% - 605px)
	}

	.common-service .common-service-wrapper ul li a {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		transition: all .4s
	}

	.common-service .common-service-wrapper ul li a:hover figure img {
		transition: all .4s;
		scale: 1.2
	}

	header .header-wrapper .globalmenu ul li:not(:last-of-type) a {
		transition: all .4s
	}

	header .header-wrapper .globalmenu ul li:not(:last-of-type) a:hover {
		transition: all .4s
	}

	header .header-wrapper .globalmenu ul li:not(:last-of-type) a:hover::after {
		width: 100%
	}

	header .header-wrapper .globalmenu ul li.contact-area .contact-btn::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		background: #fff;
		width: 100%;
		height: 100%;
		transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
		transform: scale(0, 1);
		transform-origin: left top
	}

	header .header-wrapper .globalmenu ul li.contact-area .contact-btn:hover::before {
		transform-origin: right top;
		transform: scale(1, 1)
	}

	header .header-wrapper .globalmenu ul li.contact-area .contact-btn:hover a {
		color: #0e81d3
	}

	header .header-wrapper .globalmenu ul li.contact-area .contact-btn:hover a::before {
		opacity: 0
	}

	header .header-wrapper .globalmenu ul li.contact-area .contact-btn:hover a::after {
		opacity: 1
	}

	footer .footer-wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		align-items: center
	}

	footer .footer-wrapper .foot-logo-wrapper {
		margin-right: 80px
	}

	footer .footer-wrapper .footer-nav {
		-webkit-flex: 1;
		flex: 1
	}

	footer .footer-wrapper .footer-nav ul {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: space-around;
		justify-content: space-around;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}

	footer .footer-wrapper .footer-nav ul li a:hover::before {
		width: 100%
	}
}

@media screen and (max-width: 999px) {
	.content {
		max-width: 750px
	}

	.breadcrumbs-wrapper {
		padding: 20px 0 30px
	}

	.breadcrumbs-wrapper .breadcrumbs {
		max-width: 750px;
		width: calc(100% - 20px)
	}

	.pc-block {
		display: none
	}

	.pcsmall-block {
		display: block
	}

	.under-img-wrapper {
		height: 200px
	}

	.under-img-wrapper .under-other-title h1 {
		font-size: 2.6rem
	}

	.viewmore-btn {
		max-width: 330px;
		height: 50px;
		border-radius: 26px
	}

	.viewmore-btn a {
		font-size: 1.8rem
	}

	body {
		width: 100%;
		min-width: 100%;
		overflow-x: hidden
	}

	.common-service {
		padding: 50px 0 25vw
	}

	.common-service .common-service-wrapper ul li:not(:last-child) {
		margin-bottom: 30px
	}

	.common-service .common-service-wrapper ul li figure {
		width: 300px;
		height: 300px;
		margin: 0 auto 25px;
		border: 15px solid #eaf5fc
	}

	.common-service .common-service-wrapper ul li .contents h4 {
		margin-bottom: 15px;
		font-size: 1.8rem
	}

	.common-service .common-service-wrapper ul li .contents>p {
		margin-bottom: 25px;
		font-size: 1.3rem
	}

	.common-service .common-service-wrapper ul li .contents>p .fig {
		margin: 15px auto;
		padding: 10px;
		font-size: 1.2rem
	}

	.common-service .common-service-wrapper ul li .contents>p .fig::before {
		width: 20px;
		height: 20px
	}

	.common-service .common-service-wrapper ul li:nth-child(2) figure {
		border: 15px solid #eefeff
	}

	.common-service .common-service-wrapper ul li:last-child figure {
		border: 15px solid #eafcf7
	}

	header {
		height: 60px;
		margin: 0 15px;
		z-index: 9999
	}

	header .header-wrapper span.logo {
		width: 140px
	}

	header .header-wrapper .globalmenu {
		display: none
	}

	header .header-wrapper .header-right {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}

	header .header-wrapper .header-right .contact-btn {
		width: 105px;
		height: 36px;
		margin-right: 10px;
		background-color: #0e81d3;
		border: 1px solid transparent;
		border-radius: 18px;
		box-shadow: 2px 2px #03538d;
		overflow: hidden
	}

	header .header-wrapper .header-right .contact-btn a {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-left: 10px;
		color: #fff;
		font-size: 1rem;
		font-weight: 900;
		z-index: 3
	}

	header .header-wrapper .header-right .contact-btn a::before {
		content: "";
		display: block;
		width: 15px;
		height: 14px;
		position: absolute;
		-webkit-transform: translate(0%, -50%);
		transform: translate(0%, -50%);
		top: 50%;
		left: 10px;
		transition: .5s ease;
		z-index: 3;
		background: url(../common/images/mail_white.svg) no-repeat top center/contain
	}

	header .header-wrapper .header-right .trigger {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		top: 0;
		right: 0;
		width: 55px;
		height: 55px;
		z-index: 100
	}

	header .header-wrapper .header-right .trigger .menu-trigger,
	header .header-wrapper .header-right .trigger .menu-trigger span {
		display: inline-block;
		transition: all .4s
	}

	header .header-wrapper .header-right .trigger .menu-trigger {
		position: relative;
		width: 40px;
		height: 30px
	}

	header .header-wrapper .header-right .trigger .menu-trigger span {
		position: absolute;
		right: 0;
		width: 100%;
		height: 5px;
		background: #0e81d3;
		border-radius: 10px
	}

	header .header-wrapper .header-right .trigger .menu-trigger span:nth-of-type(1) {
		top: 0
	}

	header .header-wrapper .header-right .trigger .menu-trigger span:nth-of-type(2) {
		top: 13px
	}

	header .header-wrapper .header-right .trigger .menu-trigger span:nth-of-type(3) {
		top: 25px
	}

	header .header-wrapper .header-right .trigger .menu-trigger.active span:nth-of-type(1) {
		opacity: 0
	}

	header .header-wrapper .header-right .trigger .menu-trigger.active span:nth-of-type(2) {
		transform: translateY(0) rotate(45deg);
		top: 9px
	}

	header .header-wrapper .header-right .trigger .menu-trigger.active span:nth-of-type(3) {
		transform: translateY(8px) rotate(-45deg);
		top: 1px
	}

	footer {
		padding: 45px 0 0
	}

	footer .footer-wrapper {
		margin-bottom: 40px
	}

	footer .footer-wrapper .foot-logo-wrapper {
		width: 230px;
		margin: 0 auto
	}

	footer .footer-wrapper .foot-logo-wrapper a p {
		padding-left: 85px;
		font-size: 1rem
	}

	footer .footer-wrapper .foot-logo-wrapper a img {
		margin-bottom: 0px
	}

	footer .footer-wrapper .footer-nav ul li {
		padding: 0;
		text-align: center
	}

	footer .footer-wrapper .footer-nav ul li a {
		padding: 35px;
		font-size: 1.8rem;
		font-weight: 900
	}

	footer .footer-wrapper .sns-area {
		margin-top: 40px
	}

	footer .copy {
		padding: 20px 0;
		font-size: 1rem
	}

	.pagetop-grid {
		right: 10px;
		bottom: 10px;
		width: 40px;
		height: 40px
	}

	.pagetop-grid a:hover {
		opacity: .8
	}

	.pageWrap {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		align-items: center;
		width: 100%;
		min-height: 100vh;
		height: 100%;
		margin: 0 auto
	}

	.common-contact {
		margin-bottom: 50px
	}

	.common-contact .common-contact-wrapper {
		padding: 70px 0
	}

	.common-contact .common-contact-wrapper .common-title {
		margin-bottom: 20px
	}

	.common-contact .common-contact-wrapper .common-title h2 {
		font-size: 3.3rem
	}

	.common-contact .common-contact-wrapper p {
		margin-bottom: 25px;
		font-size: 1.3rem;
		line-height: 1.4
	}
}

@media screen and (min-width: 769px) {
	.pclarge-block {
		display: block
	}
}

@media screen and (max-width: 768px) {
	.tab-block {
		display: block
	}

	.pcsmall-block {
		display: none
	}

	.pclarge-block {
		display: none
	}
}

@media screen and (max-width: 374px) {
	.sp-block {
		display: block
	}
}

@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translateY(30px)
	}

	to {
		opacity: 1;
		transform: translateY(0)
	}
}

.fadeUp {
	animation-name: fadeUp;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: .5s
}

.fadeIn-trigger {
	opacity: 0
}

.delay-time02 {
	animation-delay: 1s
}

.fade-delay02 {
	animation-delay: 1s
}

.fade-delay03 {
	animation-delay: 1.2s
}

.fade-delay04 {
	animation-delay: 1.4s
}

.modal__overlay {
	cursor: pointer;
	background-color: rgba(30, 30, 30, .9);
	z-index: 1000
}

.micromodal-slide .modal-inner-contents {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 80%;
	height: 100%;
	max-height: 80%;
	padding: 50px 100px;
	background: #fff;
	border: 1px solid #7a7a7a;
	cursor: default
}

.micromodal-slide .modal-inner-contents .modal-inner {
	overflow-y: scroll;
	height: 100%
}

.micromodal-slide .modal-inner-contents .modal-inner figure {
	text-align: center;
	width: 80%;
	margin: 0 auto
}

.micromodal-slide .modal-inner-contents .modal-inner figure img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%
}

.micromodal-slide .modal-inner-contents .modal-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	background: #000
}

.micromodal-slide .modal-inner-contents .modal-close:before {
	display: block;
	content: "";
	width: 40px;
	height: 40px;
	background: url(../images/icon_modal_close.svg) center/contain no-repeat;
	background-size: 20px 20px;
	z-index: 10
}

@media screen and (max-width: 959px)and (orientation: landscape) {
	.micromodal-slide .modal-inner-contents {
		overflow-y: scroll;
		max-width: 70vw;
		max-height: 90vh;
		padding: 40px 35px 20px
	}

	.micromodal-slide .modal-inner-contents .icon {
		display: none
	}

	.micromodal-slide .modal-inner-contents .modal-btn-list {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		max-width: 100%
	}

	.micromodal-slide .modal-inner-contents .modal-btn-list li {
		width: 49%;
		margin: 0
	}

	.micromodal-slide .modal-inner-contents .modal-btn-list li:not(:last-child) {
		margin: 0 2% 0 0
	}
}

@media screen and (max-width: 959px) {
	.micromodal-slide .modal-inner-contents {
		padding: 10px;
		width: 80%;
		height: 100%;
		max-height: 80%
	}

	.micromodal-slide .modal-inner-contents .modal-inner {
		padding-top: 30px
	}

	.micromodal-slide .modal-inner-contents .modal-inner figure {
		width: 100%
	}

	.micromodal-slide .modal-inner-contents .modal-inner figure img {
		width: 100%
	}

	.micromodal-slide .modal-inner-contents .modal-close {
		top: 5px;
		right: 5px;
		width: 30px;
		height: 30px
	}

	.micromodal-slide .modal-inner-contents .modal-close:before {
		width: 30px;
		height: 30px;
		background-size: 14px 14px
	}
}

.news {
	padding: 60px 0 100px;
	background-color: #fff
}

.news__card {
	margin-right: 20px
}

.news__card figure {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px
}

.news__card figure::before {
	content: "";
	display: block;
	padding-top: 62.5%
}

.news__card figure img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	object-fit: contain;
	width: 100%;
	height: 100%
}

.news__card .title {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5
}

.news__card .cont {
	font-size: 16px;
	line-height: 1.5
}

.news__card-wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 90%;
	width: 100%;
	margin: 0 0 60px auto
}

.news .slick-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -70px;
	width: 40px;
	height: 40px
}

.news #js-slider-1 .slick-list {
	padding: 0 30% 0 0 !important
}

.news .slick-prev {
	left: unset;
	right: 210px
}

.news .slick-prev::before {
	content: "" !important;
	width: 16px;
	height: 29px;
	background-image: url(../img/slide_arrow_l.png);
	background-size: cover
}

.news .slick-next {
	right: 150px
}

.news .slick-next:before {
	content: "" !important;
	width: 16px;
	height: 29px;
	background-image: url(../img/slide_arrow_r.png);
	background-size: cover
}

@media screen and (max-width: 768px) {
	.news {
		padding: 60px 0
	}

	.news__card figure {
		margin-bottom: 10px
	}

	.news__card .title {
		font-size: 1.8rem
	}

	.news__card .cont {
		font-size: 1.3rem
	}

	.news__card-wrapper {
		max-width: 95%;
		margin: 0 0 40px auto
	}

	.news .slick-arrow {
		top: -50px;
		width: 40px;
		height: 40px
	}

	.news #js-slider-1 .slick-list {
		padding: 0 30% 0 0 !important
	}

	.news .slick-prev {
		left: unset;
		right: 15%
	}

	.news .slick-prev::before {
		width: 16px;
		height: 29px
	}

	.news .slick-next {
		right: 5%
	}

	.news .slick-next:before {
		width: 16px;
		height: 29px
	}
}

/*# sourceMappingURL=slideshow.css.map */